/* ForgotPasswordForm.module.css */

/* Styles for the container */
.forgotPasswordContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #0d47a1, #1976d2, #64b5f6, #bbdefb);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
  
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Styles for the form */
  .forgotPasswordForm {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 350px;
    max-width: 90%;
    text-align: center;
    position: relative;
    overflow: hidden;
    transform: translateY(20px);
    opacity: 0;
    animation: fadeInUp 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }
  
  @keyframes fadeInUp {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Title styles */
  .forgotPasswordFormTitle {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Input styles */
  .inputField {
    width: calc(100% - 24px);
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
  }
  
  .inputField:focus {
    outline: none;
    border-color: #3498db;
  }
  
  /* Button styles */
  .button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  