.beforeload {
    height: 60vh;
}

.loader_content {
    position: relative;
    left: 32vw;
    top: 23vh;
}

.product_wrap {
    transition: 0.15s;
    cursor: pointer;
    border-radius: 20px;
}

.product_wrap:hover {
    scale: 1.05;
}
.product_wrap:active{
    scale: 0.99;
}
.shop-hero{
    background: url('https://images.pexels.com/photos/1452701/pexels-photo-1452701.jpeg');min-height: 41vh;background-repeat: no-repeat;background-size: cover;background-position: 0px -80px;position: relative;z-index: 10;
}
.shop-hero h1{
    color: white;
    z-index: 10;
}