.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d6eeff;
  /* Ocean blue background color */
}

.forget-password {
  width: 400px;
  /* Increased width */
  padding: 40px 50px;
  /* Increased padding */
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forget-password h1 {
  margin-bottom: 30px;
  /* Increased margin */
  color: #333;
  font-size: 24px;
  /* Larger font size for better emphasis */
}

.form-group {
  margin-bottom: 30px;
  /* Increased margin */
}

input[type='email'] {
  width: 100%;
  padding: 12px;
  /* Increased padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type='submit'] {
  width: 100%;
  padding: 14px;
  /* Increased padding */
  background-color: #1d88fb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button[type='submit']:hover {
  background-color: #0056b3;
}